body.fade-in {
  transition: background-color 500ms;
}

.dark .logo-circle {
  filter: brightness(1.5);
}

.dark :is(.toggle-dark, #menu-open, #menu-close) {
  filter: invert();
}

body.dark {
  color: var(--clr-neutral-light);
  background-color: var(--clr-dark-dark);
}

.dark :is(h1, h2, h3) {
  color: var(--clr-neutral-light);
}

/* conflictos de specificity con :is() */
.dark a {
  color: var(--clr-neutral-light);
}

/* conflictos de specificity con :is() */
.dark :is(#hero p, address) {
  color: var(--clr-dark-medium);
}

.dark :is(a:hover, .card-item > a, .nav-secondary a) {
  color: var(--clr-secondary);
}

.dark .button:hover {
  color: var(--clr-neutral-dark);
  background-color: var(--clr-neutral-light);
  transition: color 0.5s, background-color 0.5s;
}

.dark :is(.card-item, #form-contact :is(input, textarea)) {
  background-color: #1e1e1e;
}

.dark .newsletter h2 {
  color: var(--clr-neutral-dark);
}

.dark .newsletter .button:hover {
  color: #fff;
  background-color: var(--clr-neutral-dark);
}

.dark :is(.subtitle, #form-contact label, .project-summary) {
  color: var(--clr-dark-medium);
}

.dark #form-contact :is(input, textarea) {
  color: var(--clr-neutral-light);
}

.dark .msg-help {
  color: var(--clr-neutral-medium);
}

.dark :is(input:focus, textarea:focus) {
  outline-style: solid;
  outline-color: var(--clr-neutral-medium);
}

.dark .project-summary :is(span, time) {
  color: var(--clr-neutral-light);
}
