@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100vh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* VARIABLES */

:root {
  /* Colores */
  --clr-accent: #43d2ff;
  --clr-primary-default: #072ac8;
  --clr-primary-hover: #a2d6f9;
  --clr-primary-tapped: #d1edff;
  --clr-neutral-dark: #292e47;
  --clr-neutral-medium: #6b708d;
  --clr-neutral-light: #f4f6fc;
  --clr-neutral-light-blue: #ecf7ff;
  --clr-secondary: #ffc600;
  --clr-msg-error: #e55041;
  --clr-msg-help: #292e47;

  /* Colores modo oscuro */
  --clr-dark-medium: #a0a0a0;
  --clr-dark-dark: #121212;

  /* Fuentes */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-heading-1: 3.75rem;
  --fs-heading-2: 2.5rem; /* prev 3.125rem */
  --fs-heading-3: 1.875rem; /* prev 2.5rem */
  --fs-body-med: 1.5rem;
  --fs-body-reg: 1.25rem;
  --fs-headline: 1.0625rem;
  --fs-caption-1: 0.9375rem;
  --fs-caption-2: 0.8125rem;

  /* Spacing y tamaños */
  --width-max-tablet: 48%;
  --width-max-desktop: 31%;
  --spacing-general: 2rem;
  --spacing-section: 4rem;
  --spacing-section-desktop: 6rem;
}

/* ESTILO GENERAL */
body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-headline);
  color: var(--clr-neutral-dark);
  background-color: var(--clr-neutral-light);
  padding: 1rem 0;
}

header {
  margin-bottom: 3rem;
}

header > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-circle {
  width: 60px;
}

#nav-primary,
#nav-contact {
  display: none;
}

main {
  margin-bottom: var(--spacing-section);
}

h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-dark);
  text-transform: capitalize;
}

h1 {
  font-size: var(--fs-heading-2);
}

h2 {
  font-size: var(--fs-heading-3);
  text-align: center;
  margin-bottom: var(--spacing-general);
}

a {
  font-size: var(--fs-headline);
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-medium);
  text-decoration: none;
}

a:hover {
  color: var(--clr-primary-default);
  text-decoration: underline;
}

input,
textarea,
button {
  border: none;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: var(--clr-primary-tapped);
}

.container {
  padding-right: var(--spacing-general);
  padding-left: var(--spacing-general);
  margin-right: auto;
  margin-left: auto;
}

.button {
  cursor: pointer;
  color: #fff;
  background-color: var(--clr-primary-default);
  padding: 0.75em 1.5em 0.75em 1.5em;
}

.button:hover {
  color: #fff;
  background-color: var(--clr-neutral-dark);
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}

.bg-newsletter {
  background-color: var(--clr-secondary);
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

.menu-icon {
  width: 36px;
  aspect-ratio: 1;
  padding: 0.5rem;
}

#menu-hamburger {
  display: flex;
  gap: 2rem;
}

.menu-hamburger-nav {
  position: absolute;
  left: 0;
  top: calc(1rem + 36px);
  background-color: var(--clr-neutral-medium);
  width: 100%;
}

.menu-hamburger-nav > a {
  display: block;
  text-align: center;
  color: #fff;
  padding: 0.875rem 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05),
    -2px -2px 30px rgba(0, 0, 0, 0.05);
}

.card-item > h3,
.card-item > p,
.card-item > a {
  padding-right: var(--spacing-general);
  padding-left: var(--spacing-general);
  padding-bottom: 1rem;
}

.card-item > h3,
.card-item > a {
  padding-top: 1.5rem;
}

.card-item > a {
  color: var(--clr-primary-default);
  display: block;
}

.card-item > img {
  order: -1;
}

.card-item-img {
  object-fit: cover;
  aspect-ratio: 1.75;
}

.card-item-icon {
  background-color: var(--clr-neutral-light-blue);
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: var(--spacing-general) 0 0 var(--spacing-general);
}

.newsletter {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.newsletter h2 {
  line-height: 1.25;
  margin-bottom: 1rem;
}

.newsletter p {
  font-size: var(--fs-body-reg);
  font-weight: var(--fw-regular);
  text-align: center;
  color: var(--clr-neutral-dark);
  padding-bottom: 3rem;
}

#form-news {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

#form-news input {
  margin-bottom: 1rem;
  padding-left: calc(1.5rem + 30px);
}

#form-news input,
#form-news button {
  height: 5rem;
}

#icon-email {
  position: absolute;
  top: calc((5rem - 30px) / 2);
  left: 1rem;
}

footer {
  padding-bottom: 5rem;
}

footer .logo-circle {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

address {
  text-align: center;
  margin-bottom: var(--spacing-general);
  color: var(--clr-neutral-medium);
}

.nav-secondary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
}

.nav-secondary a {
  font-weight: var(--fw-regular);
  color: var(--clr-primary-default);
  line-height: 1.25;
}

.is-hidden {
  display: none;
}

/* bigger phone */
@media only screen and (min-width: 480px) {
  header .logo-circle {
    width: 80px;
  }

  h2 {
    font-size: var(--fs-heading-2);
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
  h2 {
    text-align: left;
  }

  .newsletter h2 {
    text-align: center;
  }

  .card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  #form-news {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 620px;
    margin-right: auto;
    margin-left: auto;
  }

  #form-news input {
    width: 395px;
  }

  #form-news button {
    width: 225px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  footer .logo-circle {
    margin-left: 0;
  }

  address {
    text-align: left;
  }
}

/* desktop */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 1200px;
    padding-right: 3.125rem;
    padding-left: 3.125rem;
  }

  header {
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
  }

  header .logo-circle {
    width: 100px;
  }

  #nav-primary {
    display: flex;
    gap: 3.5rem;
  }

  #nav-contact {
    display: flex;
    gap: 2rem;
  }

  #menu-hamburger {
    display: none;
  }

  /* por si crece el viewport con el hamburger menu desplegado */
  .menu-hamburger-nav {
    display: none;
  }

  main {
    margin-bottom: var(--spacing-section-desktop);
  }

  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
