@import "./general.css";

#hero,
.company-list,
#projects,
#testimonials,
#services {
  margin-bottom: var(--spacing-section);
}

#hero h1 {
  font-size: 1.875rem; /* 30px */
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-dark);
  text-transform: capitalize;
  text-align: center;
  line-height: 1.25;
  padding-bottom: var(--spacing-general);
}

h3 {
  font-size: var(--fs-body-med);
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-dark);
  text-transform: capitalize;
}

#hero p {
  font-size: var(--fs-headline);
  text-align: center;
  color: var(--clr-neutral-medium);

  padding-bottom: var(--spacing-general);
}

#hero a {
  display: block;
  width: fit-content;
  font-size: var(--fs-headline);
  font-weight: var(--fw-medium);
  margin: 1em auto;
}

.hero-img {
  margin-top: 3rem;
  margin-bottom: var(--spacing-section);
}

.hero-img-main {
  margin-right: auto;
  margin-left: auto;
}

.hero-img-detail {
  display: none;
}

.bg-orbit {
  background-color: var(--clr-neutral-dark);
  background-image: url("./../images/testimonial-section/orbit.png");
  background-size: cover;
  background-position: center;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

.memoji {
  display: none;
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
  gap: 1.25rem;
}

.company-item {
  height: 2rem;
  margin: 1.5rem 0.5rem 1rem 0.5rem;
}

#testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 28rem;
}

#testimonials h2 {
  font-size: 1.875rem; /* 30px */
  color: var(--clr-neutral-light);
  max-width: 20ch;
  margin-bottom: 0;
}

#testimonials q {
  display: block;
  font-size: var(--fs-body-med);
  font-weight: var(--fw-medium);
  color: var(--clr-secondary);
  text-align: center;
  max-width: 42ch;
}

.client-profile {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}

.client-profile img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.client-profile p:first-child {
  font-size: var(--fs-headline);
  color: var(--clr-primary-hover);
}

.client-profile p:last-child {
  font-size: var(--fs-caption-2);
  color: var(--clr-neutral-light);
}

/* bigger phone */
@media only screen and (min-width: 480px) {
  #hero h1 {
    font-size: var(--fs-heading-3);
  }

  #hero a {
    margin: 1rem 0;
  }

  .hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
  #hero h1 {
    font-size: var(--fs-heading-1);
  }
  #hero p {
    font-size: var(--fs-body-reg);
    max-width: 55ch;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-img {
    position: relative;
  }

  .hero-img-main {
    margin-right: auto;
    margin-left: auto;
  }

  .hero-img-detail {
    position: absolute;
    display: block;
    width: 150px;
  }

  .hero-img-detail-1 {
    top: 0;
    left: 1rem;
  }

  .hero-img-detail-2 {
    bottom: 0;
    right: 1rem;
  }

  #projects h3,
  #services h3 {
    line-height: 1.25;
  }

  #testimonials h2 {
    max-width: 20ch;
  }

  .newsletter h2 {
    font-size: var(--fs-heading-3);
  }

  #testimonials {
    position: relative;
    min-height: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  .memoji {
    position: absolute;
    display: block;
    height: 100px;
    aspect-ratio: 1;
  }

  .memoji-1 {
    top: 2rem;
    left: 3rem;
  }

  .memoji-2 {
    top: 2rem;
    right: 3rem;
  }

  .memoji-3 {
    bottom: 1rem;
    left: 3rem;
  }

  .memoji-4 {
    bottom: 1rem;
    right: 3rem;
  }
}

/* desktop */
@media only screen and (min-width: 992px) {
  #hero {
    margin-bottom: var(--spacing-section);
  }
  
  .company-list,
  #projects,
  #testimonials,
  #services {
    margin-bottom: var(--spacing-section-desktop);
  }
  #hero {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  #hero > div:first-child {
    max-width: 50%;
  }

  #hero > div:last-child {
    min-width: 50%;
  }

  #hero h1,
  #hero p {
    text-align: left;
  }

  .hero-cta {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .hero-img-detail {
    width: 125px;
  }

  .hero-img-detail-1 {
    left: 0;
  }

  .hero-img-detail-2 {
    right: 0;
  }

  #testimonials {
    min-height: 620px;
  }

  #testimonials h2 {
    max-width: 100%;
  }

  .memoji {
    height: 150px;
  }
}
