@import "./general.css";

article {
  font-size: var(--fs-body-reg);
  margin-bottom: var(--spacing-section);
}

article > p {
  padding-bottom: 1rem;
}

article > img {
  object-fit: cover;
  aspect-ratio: 1.75;
  padding-bottom: 4rem; /* var(--spacing-section); */
}

h1 {
  font-size: var(--fs-heading-3);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.project-summary {
  padding-bottom: var(--spacing-general);
}

.subtitle {
  font-weight: var(--fw-medium);
}

.subtitle,
.project-summary span,
.project-summary time {
  color: var(--clr-neutral-medium);
}

#projects {
 margin-bottom: var(--spacing-section); 
}

/* tablet */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: var(--fs-heading-1);
  }

  .project-summary {
    display: flex;
    justify-content: space-between;
  }

  .subtitle {
    font-size: var(--fs-body-med);
  }
}
